face-rekon/nr-recognize-flow.json
[
  {
    "id": "a44a393e17d4857b",
    "type": "tab",
    "label": "Flujo 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "998a55bbc319c909",
    "type": "function",
    "z": "a44a393e17d4857b",
    "name": "Preparar URL y Headers",
    "func": "// Cambia esto por tu IP y tu token de largo plazo\nconst baseUrl = \"http://192.168.3.124:5000\";\nconst token = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI4ZjYwZWRhODRlOWQ0MTg3ODBlZWZhMjVjMGZiMTQ0MSIsImlhdCI6MTc0OTIyMDExMCwiZXhwIjoyMDY0NTgwMTEwfQ.6oOQHHtSS75kuFe8USavQpi_kzHhZz5MRI_oWjIG_XQ\";\n\nconst eventId = msg.payload.event.id;\nmsg.eventId = eventId;  // Preserve eventId in message\nmsg.url = msg.payload.event.snapshot;\nmsg.headers = {\n    \"Authorization\": `Bearer ${token}`\n};\nmsg.method = \"GET\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1750,
    "y": 140,
    "wires": [["20b743f9b603d9c1", "767755e1228c3ca3"]]
  },
  {
    "id": "20b743f9b603d9c1",
    "type": "http request",
    "z": "a44a393e17d4857b",
    "name": "Descargar snapshot",
    "method": "use",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 2080,
    "y": 140,
    "wires": [["validate_snapshot", "04ebbea88995185a"]]
  },
  {
    "id": "validate_snapshot",
    "type": "function",
    "z": "a44a393e17d4857b",
    "name": "Validar Snapshot",
    "func": "// Solo procesar si la descarga fue exitosa (200 OK)\nif (!msg.statusCode || msg.statusCode !== 200) {\n    node.warn(`🚫 Skipping processing - HTTP ${msg.statusCode || 'unknown'} for event ${msg.eventId}`);\n    node.warn(`URL: ${msg.url}`);\n    return null;\n}\n\n// Verificar que tenemos datos de imagen válidos\nif (!msg.payload || msg.payload.length === 0) {\n    node.warn(`🚫 Empty payload received for event ${msg.eventId}`);\n    return null;\n}\n\n// Verificación adicional: detectar respuestas JSON de error pequeñas\nif (msg.payload.length < 200) {\n    try {\n        const payloadText = msg.payload.toString('utf-8');\n        const jsonData = JSON.parse(payloadText);\n        \n        if (jsonData && jsonData.success === false) {\n            node.warn(`🚫 Detected JSON error response: ${jsonData.message || 'Unknown error'}`);\n            node.warn(`Event ID: ${msg.eventId}`);\n            return null;\n        }\n    } catch (e) {\n        // No es JSON válido, continuar con procesamiento de imagen\n    }\n}\n\n// ✅ Snapshot válido - procesar\nnode.log(`✅ Valid snapshot (${msg.statusCode}): ${msg.payload.length} bytes for event ${msg.eventId}`);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2320,
    "y": 140,
    "wires": [["cbefc72830af9dfd"]]
  },
  {
    "id": "cbefc72830af9dfd",
    "type": "function",
    "z": "a44a393e17d4857b",
    "name": "Preparar multipart",
    "func": "msg.payload = {\n    image_base64: msg.payload.toString('base64'),\n    event_id: msg.eventId\n};\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "FormData",
        "module": "form-data"
      }
    ],
    "x": 2580,
    "y": 140,
    "wires": [["6f3ae5597ac84bdd", "2b02e05d7ec8cbce"]]
  },
  {
    "id": "6f3ae5597ac84bdd",
    "type": "http request",
    "z": "a44a393e17d4857b",
    "name": "Enviar a /recognize",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.3.124:5001/api/face-rekon/recognize",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 2810,
    "y": 140,
    "wires": [["f1270fdd9eb1c645", "3bea9abd897cf129"]]
  },
  {
    "id": "f1270fdd9eb1c645",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Resultado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 3030,
    "y": 140,
    "wires": []
  },
  {
    "id": "04ebbea88995185a",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Debug payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2350,
    "y": 280,
    "wires": []
  },
  {
    "id": "2b02e05d7ec8cbce",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Debug request multipart",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2760,
    "y": 280,
    "wires": []
  },
  {
    "id": "49a03631fb4883fc",
    "type": "server-events",
    "z": "a44a393e17d4857b",
    "name": "Frigate Event",
    "server": "home-assistant",
    "version": 3,
    "exposeAsEntityConfig": "",
    "eventType": "frigate_person_garden",
    "eventData": "",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 1450,
    "y": 140,
    "wires": [["5a03a7ed7083b0d5", "998a55bbc319c909"]]
  },
  {
    "id": "5a03a7ed7083b0d5",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Event Triggered",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1570,
    "y": 260,
    "wires": []
  },
  {
    "id": "767755e1228c3ca3",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Debug URL y Headers",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1990,
    "y": 240,
    "wires": []
  },
  {
    "id": "3bea9abd897cf129",
    "type": "debug",
    "z": "a44a393e17d4857b",
    "name": "Debug request a /recognize",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 3130,
    "y": 280,
    "wires": []
  },
  {
    "id": "home-assistant",
    "type": "server",
    "name": "Home Assistant",
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "",
    "connectionDelay": false,
    "cacheJson": false,
    "heartbeat": false,
    "heartbeatInterval": "",
    "statusSeparator": "",
    "enableGlobalContextStore": false
  }
]
